* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to left, #00A9FF, #89CFF3, #A0E9FF, #CDF5FD);
    color: white;
}

h1 {
    font-size: 30px;
}
.choice{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 300px;
    margin: 20px;
    height: 200px;
}  
.valeudekrito{
    border-radius: 20px;
    padding: 20px;
    backdrop-filter: blur(2000px);
    border: 2px solid rgb(0, 147, 173);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
} 

button {
    width: 200px;
    height: 50px;
    background: rgba(7, 38, 175, 0.801);
    border: 2px solid #fff;
    border-radius: 12px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    transition: bacground-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 0 8px blue;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

button:hover {
    transform: rotate(20deg);
}

p {
    font-size: 30px;
    text-align: center;
    text-shadow: 0 0 6px blue;
}

#winner{
    font-size: 1.5rem;
    color: white;
    text-shadow: 
    0 0 10px #0ff,
    0 0 10px #0ff,
    0 0 10px #0ff;
    font-size: 50px;
    text-align: center;
    text-shadow: 0 0 6px blue;
    color:white;
    text-align: center;
}